body {
  font-family: 'Ubuntu', sans-serif;
  color: #292b2c;
}

#welcomeSection > div > h1 {
  font-size: 5em;
  padding-bottom: 2vh;
  color: #292b2c;
}

h2 {
  font-size: 2em;
}

.skills {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  font-size: 3em;
  grid-column-gap: 0.25em;
  grid-row-gap: 0.5em;
}

section {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-right:auto;
  margin-left:auto;
}

section .project-wrapper {
  padding: 3em 2em 3em 2em;
}

section[data-color="#cbf1f6"] {
  color: #cbf1f6;
  background-color: #cbf1f6;
}

section[data-color="#f6d7cb"] {
  color: #f6d7cb;
  background-color: #f6d7cb;
}

section[data-color="#f6edcb"] {
  color: #f6edcb;
  background-color: #f6edcb;
}

section[data-color="#e2cbf6"] {
  color: #e2cbf6;
  background-color: #e2cbf6;
}

h3 {
  font-size: 2em;
  padding-bottom: 0.75em;
}

.glitch-embed-wrap {
  height: 75vh;
  min-height: 30em;
  width: 90%;
}

.project-wrapper ul {
  margin-left: -1em;
}

/* NAV ELEMENTS */

#topNav button, #topNav a {
  text-decoration: none;
  transition: 0.3s;
  color: black;
}

#topNav button:hover, #topNav a:hover {
  color: #f1f1f1;
}

/* The side navigation menu */
#sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;
}

#main {
  transition: margin-left 0.5s;
}

.side-nav button {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  text-align: initial;
  line-height: 1.5em;
}

p.navheader, a.navheader {
  font-size: 26px;
}

.side-nav p {
  padding: 8px 8px 0px 20px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  font-size: 0.8em;
  transition: 0.3s;
}

.side-nav button:hover {
  color: #f1f1f1;
}

/* Remove button styling */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:focus {
  outline: none;
  border: none;
}
