body {
  font-family: 'Ubuntu', sans-serif;
}

#welcomeSection {
  padding-top: 50vh;
  height: 100vh;
  text-align: center;
  background-color: #cbf1f6;
}

#responsiveWebDesign {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: orange;
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 4rem;
  width: 4rem;
  outline: black;
  background-size: 100%, 100%;
  filter: invert(100%);
}

#carouselExampleCaptions a {
  height: 26%;
  top: 33%;
  width: 86px;
  }

.top-nav {
  font-size: 23px;
  z-index: 2;
}

.top-nav a {
  text-decoration: none;
  transition: 0.3s;
}

/* The side navigation menu */
.side-nav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the side-nav */
}

/* The navigation menu links */
.side-nav a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

p.navheader, a.navheader {
  font-size: 26px;
}

.side-nav hr {
  background-color: white;
}

.side-nav p {
  padding: 8px 8px 0px 25px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.side-nav a:hover {
  color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  background-color: red;
}

/* On smaller screens, where height is less than 450px, change the style of the side-nav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .side-nav {padding-top: 11px;}
  .side-nav a {font-size: 15px;}
}